/* All styles for your header Components live here */
.container {
	display: flex;
}

.header-content {
	display: flex;
	flex-direction: column;
}

.header-content p{
	width: 35%;
}

.header-content .post-details {
	display: flex;
	align-items: center;
}

.header-content .post-details h2{
	font-size: 14px;
}

.header-content .post-details .grey-text{
	color: #7C8C9B;
	font-size: 12px;
	margin-left: 1%;
}
